
<p>Hi <%= @user.email %>,</p>

Welcome to PaNa InfoTech, Assured Pathway to Success .....!

Your credentials has been created plase follow the below link to continue using PaNa Intranet. 

<%= user_session_url %>

		